[Unit]
Description=RDBOX BOOTUP SERVICE
ConditionFileIsExecutable=/opt/rdbox/boot/rdbox-boot.bash
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash /opt/rdbox/boot/rdbox-boot.bash start
ExecStop=/bin/bash /opt/rdbox/boot/rdbox-boot.bash stop
TimeoutSec=0
RemainAfterExit=yes
SysVStartPriority=99
PIDFile=/run/hostapd.pid
PIDFile=/run/wpa_supplicant.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
