Source: rdbox
Section: devel
Priority: optional
Maintainer: INTEC Inc. <info-rdbox@intec.co.jp>
Build-Depends: cdbs, debhelper
Standards-Version: 3.9.6

Package: rdbox
Architecture: amd64, armhf, arm64
Description: Make Robot Engineers' Work a Lot Easier.
