#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk 

DEB_DH_BUILDDEB_ARGS = -- -Zgzip

install/rdbox::
	install -pd -m=777 $(DEB_DESTDIR)var/log/rdbox
	install -pd -m=777 $(DEB_DESTDIR)var/lib/rdbox
	install -pd $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/current
	install -pd $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/master
	install -pd $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/slave
	install -pd $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/vpnbridge
	install -pd $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/others
	install -pd $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexmst
	install -pd $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexslv
	install -pm 644 templates/networks/hostapd/hostapd_ap_an.conf $(DEB_DESTDIR)etc/rdbox
	install -pm 644 templates/networks/hostapd/hostapd_ap_bg.conf $(DEB_DESTDIR)etc/rdbox
	install -pm 644 templates/networks/hostapd/hostapd_be.conf $(DEB_DESTDIR)etc/rdbox
	install -pm 644 templates/networks/hostapd/hostapd_simple_be.conf $(DEB_DESTDIR)etc/rdbox
	install -pm 644 templates/networks/hostapd/hostapd_simple_ap.conf $(DEB_DESTDIR)etc/rdbox
	install -pm 644 templates/networks/wpa_supplicant/wpa_supplicant_be.conf $(DEB_DESTDIR)etc/rdbox
	install -pm 644 templates/networks/wpa_supplicant/wpa_supplicant_ap_bg.conf $(DEB_DESTDIR)etc/rdbox
	install -pm 644 templates/networks/wpa_supplicant/wpa_supplicant_yoursite.conf $(DEB_DESTDIR)etc/rdbox
	install -pm 644 templates/networks/iptables/iptables $(DEB_DESTDIR)etc/rdbox/network
	install -pm 644 templates/networks/iptables/iptables.mstsimple $(DEB_DESTDIR)etc/rdbox/network
	install -pm 644 templates/networks/interface/interfaces $(DEB_DESTDIR)etc/rdbox/network
	install -pm 644 templates/networks/interface/interfaces.d/master/bat0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/master/bat0
	install -pm 644 templates/networks/interface/interfaces.d/master/br0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/master/br0
	install -pm 644 templates/networks/interface/interfaces.d/master/eth0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/master/eth0
	install -pm 644 templates/networks/interface/interfaces.d/master/eth1 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/master/eth1
	install -pm 644 templates/networks/interface/interfaces.d/master/lo $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/master/lo
	install -pm 644 templates/networks/interface/interfaces.d/master/wlan0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/master/wlan0
	install -pm 644 templates/networks/interface/interfaces.d/master/wlan1 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/master/wlan1
	install -pm 644 templates/networks/interface/interfaces.d/master/wlan10 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/master/wlan10
	install -pm 644 templates/networks/interface/interfaces.d/master/wlan2 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/master/wlan2
	install -pm 644 templates/networks/interface/interfaces.d/master/wlan3 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/master/wlan3
	install -pm 644 templates/networks/interface/interfaces.d/slave/bat0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/slave/bat0
	install -pm 644 templates/networks/interface/interfaces.d/slave/br0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/slave/br0
	install -pm 644 templates/networks/interface/interfaces.d/slave/eth0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/slave/eth0
	install -pm 644 templates/networks/interface/interfaces.d/slave/lo $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/slave/lo
	install -pm 644 templates/networks/interface/interfaces.d/slave/wlan0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/slave/wlan0
	install -pm 644 templates/networks/interface/interfaces.d/slave/wlan1 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/slave/wlan1
	install -pm 644 templates/networks/interface/interfaces.d/slave/wlan10 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/slave/wlan10
	install -pm 644 templates/networks/interface/interfaces.d/slave/wlan2 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/slave/wlan2
	install -pm 644 templates/networks/interface/interfaces.d/slave/wlan3 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/slave/wlan3
	install -pm 644 templates/networks/interface/interfaces.d/vpnbridge/eth0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/vpnbridge/eth0
	install -pm 644 templates/networks/interface/interfaces.d/vpnbridge/lo $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/vpnbridge/lo
	install -pm 644 templates/networks/interface/interfaces.d/vpnbridge/wlan10 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/vpnbridge/wlan10
	install -pm 644 templates/networks/interface/interfaces.d/others/eth0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/others/eth0
	install -pm 644 templates/networks/interface/interfaces.d/others/lo $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/others/lo
	install -pm 644 templates/networks/interface/interfaces.d/others/wlan10 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/others/wlan10
	install -pm 644 templates/networks/interface/interfaces.d/simplexmst/bat0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexmst/bat0
	install -pm 644 templates/networks/interface/interfaces.d/simplexmst/br0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexmst/br0
	install -pm 644 templates/networks/interface/interfaces.d/simplexmst/eth0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexmst/eth0
	install -pm 644 templates/networks/interface/interfaces.d/simplexmst/lo $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexmst/lo
	install -pm 644 templates/networks/interface/interfaces.d/simplexmst/wlan1 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexmst/wlan1
	install -pm 644 templates/networks/interface/interfaces.d/simplexmst/wlan10 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexmst/wlan10
	install -pm 644 templates/networks/interface/interfaces.d/simplexslv/bat0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexslv/bat0
	install -pm 644 templates/networks/interface/interfaces.d/simplexslv/br0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexslv/br0
	install -pm 644 templates/networks/interface/interfaces.d/simplexslv/eth0 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexslv/eth0
	install -pm 644 templates/networks/interface/interfaces.d/simplexslv/lo $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexslv/lo
	install -pm 644 templates/networks/interface/interfaces.d/simplexslv/wlan1 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexslv/wlan1
	install -pm 644 templates/networks/interface/interfaces.d/simplexslv/wlan10 $(DEB_DESTDIR)etc/rdbox/network/interfaces.d/simplexslv/wlan10
	
	install -pd $(DEB_DESTDIR)opt/rdbox/boot
	install -pm 755 boot/rdbox-bind_unbind_dongles.py $(DEB_DESTDIR)opt/rdbox/boot
	install -pm 755 boot/rdbox-boot.bash $(DEB_DESTDIR)opt/rdbox/boot
	install -pm 755 boot/rdbox-boot_sub.bash $(DEB_DESTDIR)opt/rdbox/boot
	install -pm 755 boot/rdbox-first_session.bash $(DEB_DESTDIR)opt/rdbox/boot
	install -pm 755 boot/rdbox-first_session_sub.bash $(DEB_DESTDIR)opt/rdbox/boot
	install -pm 755 boot/to_run_kubeadm_join_after_communicating_with $(DEB_DESTDIR)opt/rdbox/boot
	install -pm 755 boot/sub_to_run_kubeadm_join_after_communicating_with.bash $(DEB_DESTDIR)opt/rdbox/boot
	# rdbox
	install -pd $(DEB_DESTDIR)opt/rdbox/bin
	install -pd $(DEB_DESTDIR)usr/bin
	cp -rf bin/* $(DEB_DESTDIR)opt/rdbox/bin
	chmod +x $(DEB_DESTDIR)opt/rdbox/bin/rdbox_cli
	ln -s /opt/rdbox/bin/rdbox_cli $(DEB_DESTDIR)usr/bin
	install -pm 644 bin/rdbox_cli.conf $(DEB_DESTDIR)etc/rdbox
	# ansible
	install -pd $(DEB_DESTDIR)opt/rdbox/ansible
	cp -rf ansible/* $(DEB_DESTDIR)opt/rdbox/ansible
	# helm
	install -pd $(DEB_DESTDIR)opt/rdbox/helm-carts
	cp -rf helm-carts/* $(DEB_DESTDIR)opt/rdbox/helm-carts
	
	install -pd $(DEB_DESTDIR)etc/udev/rules.d
	install -pm 644 templates/networks/70-persistent-net.rules $(DEB_DESTDIR)etc/udev/rules.d
	
	install -pd $(DEB_DESTDIR)lib/systemd/system
	install -pm 644 templates/services/rdbox-boot.service $(DEB_DESTDIR)lib/systemd/system
